/* Toolbar */
.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  max-width: 100%;
}
/* End Toolbar */

/* Table */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
}
/* End Table */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.accessories {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

mat-chip {
  cursor: pointer;
}
