<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon style="margin-right: 10px">menu</mat-icon>
  </button>
  <span>Angular CRUD</span>
  <span class="example-spacer"></span>

  <button mat-raised-button (click)="openDialog()" matTooltip="Add product">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <div style="margin-top: 10px">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input />
    </mat-form-field>

    <lib-ng-toast></lib-ng-toast>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Product Name Column -->
        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Product Name
          </th>
          <td mat-cell *matCellDef="let row">{{ row.productName }}</td>
        </ng-container>

        <!-- Category Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
          <td mat-cell *matCellDef="let row">{{ row.category }}</td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let row">{{ row.date | date }}</td>
        </ng-container>

        <!-- Freshness Column -->
        <ng-container matColumnDef="freshness">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Freshness</th>
          <td mat-cell *matCellDef="let row">{{ row.freshness }}</td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
          <td mat-cell *matCellDef="let row">{{ row.price | currency }}</td>
        </ng-container>

        <!-- Comment Column -->
        <ng-container matColumnDef="comment">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Comment</th>
          <td mat-cell *matCellDef="let row">{{ row.comment }}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let row">
            <button
              mat-icon-button
              (click)="editProduct(row)"
              matTooltip="Edit"
              color="primary"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="deleteProduct(row.id)"
              matTooltip="Delete"
              color="warn"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data here!</td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>

  <div class="accessories">
    <mat-chip-list aria-label="Fish selection">
      <a href="https://angular.io/" target="_blank">
        <mat-chip>
          <mat-chip-avatar>
            <img
              src="https://angular.io/assets/images/logos/angular/angular.svg"
              alt="angular"
            />
          </mat-chip-avatar>
          Angular 13
        </mat-chip>
      </a>

      <a href="https://material.angular.io/" target="_blank">
        <mat-chip>
          <mat-chip-avatar>
            <img
              src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg"
              alt="angular-material-ui"
            />
          </mat-chip-avatar>
          Angular Material UI
        </mat-chip>
      </a>

      <a href="https://www.npmjs.com/package/ng-angular-popup" target="_blank">
        <mat-chip>
          <mat-chip-avatar>
            <mat-icon style="color: #c2185b">notifications</mat-icon>
          </mat-chip-avatar>
          Angular Popup
        </mat-chip>
      </a>

      <a href="https://www.npmjs.com/package/json-server" target="_blank">
        <mat-chip>
          <mat-chip-avatar>
            <mat-icon>storage</mat-icon>
          </mat-chip-avatar>
          Json Server
        </mat-chip>
      </a>
    </mat-chip-list>
  </div>
</div>
